
.marco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../IMG/ba1.jpg');
    background-size: cover;
    height: 125vh;
} 

.cuadroTexto{
    margin-top: 35%;
    margin-right: 15%;
}

.subrayado {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

footer {
    background-image: linear-gradient(to right, #1F3946, #1E5371)
}