
.marco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../IMG/ba1.jpg');
    background-size: cover;
    height: 100vh;
}

.subrayado {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.botonForm {
    background-color: #96C93E;
    color: white;
    width: 100%;
}

#infoValorFinal{
    background-color: #CCE5FF;
    border-color: #B8DAFF;
    color: #0040A5;
}

#advertencia{
    visibility: hidden;
}

footer {
    background-image: linear-gradient(to right, #1F3946, #1E5371)
}